<section id="intro" class="clearfix">
  <div class="container">
    <div class="intro-info">
      <div class="panel panel-default home-panel">
        <div class="panel-heading home-panel-heading">
          Order List
        </div>
        <div class="panel-body">
          <table class="table" border="1">
            <thead>
              <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let li of oderList">
                <td>{{li.productName}}</td>
                <td>{{li.productQuantity}}</td>
                <td>{{li.productPrice}}</td>                
              </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>
</section>