.add-item-drop-down {
  position: relative;
    top: 7px;
    /* max-width: 50%; */
    width: 20%;
}

#intro .intro-info {
  width: 100%;
  float: left;
}

.panel-container {
  border: solid 1px #ded5d5;
  position: relative;
  top: -81px;
}

.create-new-item-panel-body {
  padding: 10px;
}

.panel-container .panel-heading {
  height: 40px;
  background-color: #e0dada;
  text-align: center;
  font-size: 20px;
}

